.searchPage__header {
  display: flex;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  align-items: flex-start;
  padding: 2rem;
  border-bottom: 1px solid lightgray;
}

.searchPage__logo {
  object-fit: contain;
  height: 3.5rem;
  margin-right: 5rem;
}

.searchPage__headerBody .search > .search__input {
  margin-top: 0;
  width: unset;
  margin: unset;
  max-width: unset;
}

.searchPage__options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: gray;
  text-align: center;
}

.searchPage__optionsLeft,
.searchPage__optionsRight {
  display: flex;
}

.searchPage__optionsRight {
  margin-left: 6rem;
}

.searchPage__option a {
  text-decoration: none;
  color: gray;
}

.searchPage__option {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  padding: 0.7rem 1.2rem;
  border: 2px solid #ebeff5;
  background-color: #ebeff5;
  border-radius: 100px;
  font-size: 1rem;
  font-weight: 700;
  transition: all 0.2s ease-in;
}

.searchPage__option:hover {
  color: #4285f4;
  background-color: white;
  cursor: pointer;
}

.searchPage__optionsLeft > .searchPage__option a {
  text-decoration: none;
  margin-left: 0.7rem;
}
