.search__input {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  height: 4.5rem;
  padding: 1rem 2rem;
  border-radius: 1000px;
  width: 75vw;
  margin: 0 auto;
  margin-top: 4rem;
  max-width: 56rem;
}

.search__input > input {
  flex: 1;
  padding: 0rem 2rem;
  border: none;
  font-size: medium;
}

.search__input > input:focus {
  outline-width: 0;
}

.search__inputIcon {
  color: gray;
}

.search__buttons {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.search__buttons > button {
  margin: 5px;
  padding: 7px 15px;
  background-color: #f8f8f8;
  border: 1px solid white;
  font-size: 1.4rem;
  color: #5f6368;
  font-weight: 600;
  text-transform: inherit;
  transition: all 0.2s ease-in-out;
}

.search__buttons > button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  border: 1px solid #c6c6c6;
  color: #222222;
}

.search__buttons--hidden{
    display: none !important;
}
